h2{
    color: aqua;
}

p{
    color: blue;
}

.container{
    color: aqua;
  }
/*externel css: 1.element selector
                2.class selector:
                syntax .(period operator)classname (pro:val)
                */
                .address-container {
                    color: tomato;
                    background-color: #607D8B;
                    font-size: 20px;
                    height: 81px;
                    padding: 22px;
                    border: 2px solid;
                    border-radius: 90px;
                }
.para{
    color: aqua;
    font-size: 20px;
}





            